CHUNK_SIZE: 500
CHUNK_OVERLAP: 50
SEPARATORS: ["\n\n", "\n", ""]

# VECTORDB_TYPE: faiss
# VECTORDB_PATH: vectordb_faiss
VECTORDB_TYPE: chroma
VECTORDB_PATH: vectordb_chroma

MODELS_DIR: ./

EMBEDDINGS_MODEL: sentence-transformers/all-MiniLM-L6-v2

LLM_MODEL: ./models/llama-2-7b-chat.Q4_K_M.gguf
LLM_MODEL_TYPE: llama
PROMPT_TYPE: "llama"
# LLM_MODEL: ./models/mistral-7b-instruct-v0.2.Q4_K_M.gguf
# LLM_MODEL_TYPE: mistral
# PROMPT_TYPE: mistral

MAX_NEW_TOKENS: 256
TEMPERATURE: 0.2
REPETITION_PENALTY: 1.1
CONTEXT_LENGTH: 1024

SEARCH_K: 4
SIMILARITY_THRESHOLD: 0.5
