torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
llama-cpp-python==0.3.1 --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu

arize-phoenix[evals]==8.26.2
chromadb==1.0.7
faiss-cpu==1.10.0
langchain==0.3.25
langchain-community==0.3.22
langchain-google-genai==2.1.4
langchain-groq==0.3.2
langchain-huggingface==0.1.2
langchain-mcp-adapters==0.1.4
langchain-ollama==0.3.2
langchain-openai==0.2.1
langgraph==0.4.1
loguru==0.7.2
omegaconf==2.3.0
openinference-instrumentation-langchain==0.1.41
PyMuPDF==1.25.5
python-dotenv==1.0.1
rank-bm25==0.2.2
sentence-transformers==4.1.0
streamlit==1.45.1
tiktoken==0.8.0
transformers==4.51.3
umap-learn==0.5.7
unstructured[pdf]==0.17.2
