arize-phoenix[evals]==3.16.0
google-generativeai==0.4.1
grandalf==0.8
langchain-google-genai==0.0.11
langgraph==0.0.30
llama-index==0.10.19
llama-index-llms-litellm==0.1.3
llama-index-embeddings-huggingface==0.1.4
trulens-eval==0.25.1
